{% load static %}
<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="{%  static 'credstyle/style.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="cred" method="post">
            {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">User Name</span>
            <input type="text" name="username" placeholder="Enter your user name" required>

          </div>
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" name="firstname" placeholder="Enter your first name" required>
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" name="lastname" placeholder="Enter your  last name" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email"  name="email" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="password" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password"  name="cpassword" placeholder="Confirm your password" required>
          </div>
        </div>

        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
      {%for l in messages %}
      <div><h4 style="color:red">{{l}}</h4></div>
      {% endfor%}

    </div>
  </div>

</body>
</html>
